<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PALMSDPU</display-name>
  <servlet>
    <servlet-name>GPSDPUservlet</servlet-name>
    <servlet-class>edu.ucsd.cwphs.palms.webservice.GPSDPUservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LocationDPUservlet</servlet-name>
    <servlet-class>edu.ucsd.cwphs.palms.webservice.LocationDPUservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>POIDPUservlet</servlet-name>
    <servlet-class>edu.ucsd.cwphs.palms.webservice.POIDPUservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TripDPUservlet</servlet-name>
    <servlet-class>edu.ucsd.cwphs.palms.webservice.TripDPUservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPSDPUservlet</servlet-name>
    <url-pattern>/GPSDPU</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LocationDPUservlet</servlet-name>
    <url-pattern>/LocationDPU</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>POIDPUservlet</servlet-name>
    <url-pattern>/POIDPU</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TripDPUservlet</servlet-name>
    <url-pattern>/TripDPU</url-pattern>
  </servlet-mapping>
</web-app>